html{
  min-height: 100%;
}

.App{
  margin: 0 auto;
  text-align: center;
}

body {
  background: linear-gradient(45deg, #ff8365 0%,#ff8365 45%,#f6f6f6 98%);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

@font-face {
  font-family: boomville;
  src: url(Boomville.otf);
  font-family: linotte;
  src: url(Linotte.woff);
}


h1,h2,h3,h4,h5,h6{
  font-family: linotte;
}

.questions{
  font-size: 5em;
  text-align: center;
  margin-top: 6.5em;
}

.question-container{
  margin-top: 30em;
}

.title {
  /* text-align: right; */
  /* background-color: green; */
  font-size: 100px;
  width: 60%;
}

.logo {
  margin: 13em 0 auto;
  width: 35%;
}

.logo-div {
  width: 80em;
}

.box {
  height: 7em;
  /* width: 90em; */
  color: #f6f6f6;
  font-size: 1.6em;
  text-align: center;
}

.line2{
  color:black;
}

.btn{
  padding: 0.7em 3em;
  border-radius: 15px 15px;
  font-size: 2em;
  font-family: 'linotte', sans-serif;
  background-color: black;
  color:#f6f6f6;
  margin-top: 2em;
}


/* colors:
peach: #FF8365
green: #O63B16
#0a5f23
yellow: #FFB000
white: #F6F6F6
black: #000000 */
