
.title {
  text-align: right;
  background-color: green;
  font-size: 100px;
}

.logo {
  align-items: center;
  justify-content: left;
  margin-top: 50px;
  margin-left: 20px;
  height: 200px
}

.title {
  text-align: right;
  background-color: green;
  font-size: 100px;
  width: 60%;
}

.logo {
  /* justify-content: right; */
  text-align: right;
  margin-top: 50px;
  margin-left: 20px;
  width: 40%;
  background-color: #F6F6F6

}

.logo-div {
  background-color: #F6F6F6;
  text-align: right;
  display: flex;
  align-items: right;
}

/* colors:
peach: #FF8365
green: #O63B16
yellow: #FFB000
white: #F6F6F6
black: #000000 */
